################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MapEditor/obj/Debug/MapEditor_MarkupCompile.i.lref
