<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DungeonHack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="FunAndGamesWithSlimDX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DungeonHack.Properties.Settings>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenNear" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ScreenFar" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MultiSampleEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AntiAliasedEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User4XMSAA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MouseSensitivity" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FrustrumCullingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResourcePath" serializeAs="String">
                <value>C:\git\DungeonHackPlayTime\MapEditor\bin\Debug</value>
            </setting>
            <setting name="WallClip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Acceleration" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="MaxAcceleration" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="DeAcceleration" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="SidewaysAcceleration" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="MaxSidewaysAcceleration" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="UpAcceleration" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="MaxUpAcceleration" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="DownAcceleration" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="MaxDownAcceleration" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="Topdown" serializeAs="String">
                <value>True</value>
            </setting>
        </DungeonHack.Properties.Settings>
        <FunAndGamesWithSlimDX.Properties.Settings>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenNear" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ScreenFar" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="MultiSampleEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AntiAliasedEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User4XMSAA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MouseSensitivity" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FrustrumCullingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResourcePath" serializeAs="String">
                <value>C:\projects\Projects\Fun\FunAndGamesWithSlimDX\MapEditor\bin\Debug\</value>
            </setting>
            <setting name="WallClip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Acceleration" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="MaxAcceleration" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="DeAcceleration" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="SidewaysAcceleration" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="MaxSidewaysAcceleration" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="UpAcceleration" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="MaxUpAcceleration" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="DownAcceleration" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="MaxDownAcceleration" serializeAs="String">
                <value>0.9</value>
            </setting>
        </FunAndGamesWithSlimDX.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
